<form action="/new" method="post">
  <input type="text" id="title" name="title" placeholder="Video title">
  
  <input type="text" id="description" name="description" placeholder=" description">

  <input type="text" id="url" name="url" placeholder="url">

  <input type="text" id="genre" name="genre" placeholder="genre">

  <input type="text" id="year" name="year" placeholder="year">
  <button>Get Video!</button>
</form>

