<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memetube</title>
  <link rel="stylesheet" href="videos.css">
</head>
<body background="videos.jpg">
  <div id="text">
  <h1>Memetube. A video Database. Enjoy the so many videos.</h1>

    <a href="/">All the movies</a>
  
  </div>

  <%= yield %>
  
</body>
</html>